*{
    box-sizing:border-box;
}
body{
    background-color:#d6e2f0;
    font-family: 'Outfit', sans-serif;
    align-items: center;
}
h1{
    color:#1f3251;
    margin: 25px auto;
    font-size: 1.7em;
}
p{
    margin: 25px auto;
    color:#7b879d;
    font-size: 1.2em;
}
.main{
    margin: 100px auto;
    width: 350px;
    background-color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
}
.main img{
    width: 100%;
    border-radius: 20px;
}
.attribution{
    font-size: 11px;
    text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}